.mainLayout__page {
    margin: 20px 390px;
}

.pagesLayout {
    box-sizing: border-box;
    width: 744px;
    height: 784px;
    box-shadow: 0px 1px 4px 0px #1e1e1e1a;
    background: #ffffff;

    padding: 10px;
    border-radius: 4px;
}
